# Dependency directories
node_modules/

# Environment variables
.env

# Log files
logs
*.log
npm-debug.log*

# Operating System Files
.DS_Store
Thumbs.db

# Editor directories and files
.idea
.vscode
*.swp
*.swo
